# Snowflake Configuration
SNOWFLAKE_ACCOUNT=SMAIKZB-IZC24119
SNOWFLAKE_USER=BRYANLI2011
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=SENTINEL_MAP
SNOWFLAKE_SCHEMA=MARTS
SNOWFLAKE_ROLE=SENTINEL_ROLE

# Dashboard Settings
REFRESH_INTERVAL_SECONDS=30
MAP_CENTER_LAT=43.790
MAP_CENTER_LON=-79.314
MAP_ZOOM=11
